<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>

<body>
  <form method="POST" action="/new" class="form-post">
    <h1>Add new message</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="text">Message:</label>
    <textarea name="text" id="text" rows="12"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>

</html>
