<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="message">
      <h2><%= message.user %></h2>
      <p><%= message.added %></p>
      <p><%= message.text %></p>
      <a href="/">Go back</a>
      
    </section>
  
</body>
</html>
